/* GLOBAL */
@font-face {
  font-family: "Experimental";
  src:         url(fonts/experimental_regular.woff) format("woff");
}

@font-face {
  font-family: "Experimental";
  src:         url(fonts/experimental_bold.woff) format("woff");
  font-weight: bold;
}

html, input, select {
  font-family: Experimental, sans-serif;
}

html, body {
  min-height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing:     antialiased;
  -moz-osx-font-smoothing:    grayscale;
  margin:                     0;
  color:                      #000;
  line-height:                1.3;
}

a {
  color:           inherit;
  text-decoration: underline;
}

code {
  border:      1px solid black;
  padding:     6px;
  margin:      6px;
  display:     block;
  white-space: pre-wrap;
}

/* GENERAL */
.button-interaction {
  text-decoration: none;
  cursor:          pointer;
}

.input-interaction,
.button-interaction {
  margin:     12px 0;
  padding:    12px;
  border:     1px solid #aaa;
  background: rgba(0,0,0,0);
}

.section-content {
  margin:             2em 12px;
  overflow:           hidden;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

@media (min-width: 1024px) {
  .section-content {
    width:  900px;
    margin: 4em auto;
  }
}

.headline-content {
  font-size:   42px;
  text-align:  center;
  margin:      0 0 10px;
  font-weight: normal;
  position:    relative;
}

.headline-content:before {
  content:    "";
  top:        52%;
  left:       0;
  right:      0;
  height:     1px;
  position:   absolute;
  background: #ddd;
}

.headline-content span {
  background: #fff;
  padding:    0 20px;
  position:   relative;
}

.hexagon {
  -ms-transform:                 scale(0.75); /* IE9+ doesn't support masks, so we just decrease image size */
  -ms-interpolation-mode:        nearest-neighbor;
  -webkit-mask-box-image-repeat: stretch;
  -webkit-mask-box-image-source: url("img/hexagon.svg");
  mask:                          url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxtYXNrIG1hc2tDb250ZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBpZD0iaGV4YWdvbiI%2BPHBvbHlnb24gcG9pbnRzPSIwLjEzIDAuNzIsIDAuMTIgMC43MSwgMC4xMiAwLjI5LCAwLjEzIDAuMjgsIDAuNDkgMC4wNywgMC41MSAwLjA3LCAwLjg3IDAuMjgsIDAuODggMC4yOSwgMC44OCAwLjcxLCAwLjg3IDAuNzIsIDAuNTEgMC45MywgMC40OSAwLjkzLCAwLjEzIDAuNzIiIGZpbGw9IiNmZmYiIC8%2BPC9tYXNrPjwvc3ZnPg%3D%3D#hexagon";
$grayscale-mask: "data:          image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9ImdyYXlzY2FsZSI%2BPGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDAiLz48L2ZpbHRlcj48L3N2Zz4%3D#grayscale");
}


/* SPECIFIC */
.button-interaction,
.teaser,
.description,
.credits,
.creators,
.creators__profile,
.outlook,
.order-hardware {
  overflow:           hidden;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

.teaser .logo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin: -4px 8px 0 0;
  background: url(img/hexagon_white.svg) no-repeat center center;
  background-size: 100% auto;
}

.teaser {
  text-transform: uppercase;
  text-align:        center;
  font-size:         2em;
  color:             white;
  background-image:  url(img/banner.jpg);
  background-size:   cover;
  background-repeat: no-repeat;
  width:             100%;
  padding:           3em;
}

.teaser__header {
  font-size:   1em;
  font-weight: normal;
}

.teaser__text {
  font-size:   1.4em;
  font-weight: bold;
}

.description {
  text-align: center;
  font-size:  1.2em;
}

.promise {
  border:    1px solid #aaa;
  padding:   12px;
  font-size: 1.4em;
}

.promise__header {
  font-weight: normal;
  text-align:  center;
  font-size:   2em;
}

.notify-me,
.order-hardware,
.setup-platform {
  text-align: center;
  margin:     2em auto;
  font-size:  1.4em;
}

.setup-platform {
  text-align: left;
}

.order-hardware .button-interaction {
  display:        block;
  font-size:      .8em;
  vertical-align: middle;
}

.order-hardware__store {
  display:   block;
  font-size: .7em;
}

@media (min-width: 1024px) {
  .order-hardware .button-interaction {
    width:   28%;
    display: inline-block;
    margin:  3px;
  }
}

.order-hardware__note {
  font-size: 0.8em;
}

.creators {
  list-style-type: none;
  padding-left:    0;
}

.creators__profile {
  display:        inline-block;
  width:          32%;
  width:          32%;
  text-align:     center;
  margin-right:   -8px;
  vertical-align: top;
}

.profile__portrait {
  max-width:  200px;
  max-height: 200px;
  display:    inline-block;
  margin:     12px;
}

.profile__portrait img {
  display: inline-block;
  width:   100%;
  height:  100%;
}

/* EXAMPLES */
.examples {
  margin:    0;
  padding:   0;
  display:   flex;
  flex-wrap: wrap;
}

.examples li {
  flex:           1 1 22%;
  margin-right:   20px;
  padding-bottom: 12px;
  box-sizing:     border-box;
  display:        block;
  border:         1px solid #eee;
  border-radius:  3px;
}

.examples li:nth-child(4n) {
  margin-right: 0;
}

.examples li:nth-child(-n+4) {
  margin-bottom: 20px;
}

.examples a {
  text-align: center;
  text-decoration: none;
  display: block;
}

.examples h4,
.examples p {
  margin: 0;
  padding: 0 20px;
}

.examples h4 {
  font-size: 16px;
}

.examples p {
  font-size: 12px;
  color: #666;
}

.examples__note {
  text-align: center;
}

.img-example {
  display:             block;
  height:              100px;
  width:               100%;
  background-color:    #eee;
  background-size:     cover;
  background-position: center center;
  -webkit-filter:      grayscale(0.7);
  filter:              grayscale(0.7);
  box-shadow:          inset 0 0 50px rgba(0, 0, 0, 0.3);
  transition:          -webkit-filter 0.3s, filter 0.3s, box-shadow 0.3s;
}

a:hover .img-example {
  box-shadow:     inset 0 0 30px rgba(0, 0, 0, 0.2);
  filter:         grayscale(0);
  -webkit-filter: grayscale(0);
}

.img-example-jasper {
  background-image: url(img/jasper_example.jpg);
}

.img-example-co2 {
  background-image: url(img/co2_air_quality_example.jpg);
}

.img-example-chromecast {
  background-image: url(img/chromecast_example3.jpg);
}

.img-example-webcam {
  background-image: url(img/webcam_example.jpg);
}

.img-example-radio {
  background-image: url(img/radio_socket_example.jpg);
}

.img-example-speakers {
  background-image: url(img/loudspeakers_example2.jpg);
}

.img-example-live-webcam {
  background-image: url(img/webcam_live_stream_example.jpg);
}

.img-example-voice-recognition {
  background-image: url(img/voice_recognition_example.jpg);
}

.img-technology-nodejs {
  background-image: url(img/node.js);
}

.img-technology {
  -webkit-filter:  drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
  filter:          drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
  position:        relative;
  display:         inline-block;
  margin-top:      -20px;
  width:           32px;
  height:          40px;
  background:      url(img/hexagon_white.svg) center center no-repeat;
  background-size: auto 100%;
}

.img-technology:after {
  content:             "";
  position:            absolute;
  right:               0;
  top:                 0;
  left:                0;
  bottom:              0;
  background-repeat:   no-repeat;
  background-position: center center;
}

.img-technology-nodejs:after {
  background-size:  auto 28px;
  background-image: url(img/nodejs.svg);
}

.img-technology-arduino:after {
  background-size:  24px auto;
  background-image: url(img/arduino.png);
}

.img-technology-rails:after {
  background-size:  auto 22px;
  background-image: url(img/rails.svg);
}

.img-technology-ruby:after {
  background-size:  auto 20px;
  background-image: url(img/ruby.svg);
}

.img-technology-php:after {
  background-size:  auto 26px;
  background-image: url(img/php.svg);
}

.img-technology-python:after {
  background-size:  auto 24px;
  background-image: url(img/python.svg);
}

.img-technology-docker:after {
  background-size:  26px auto;
  background-image: url(img/docker.svg);
}

.outlook-features {
  list-style-type: none;
  padding:         0;
}

.outlook {
  width:          50%;
  display:        inline-block;
  margin-right:   -8px;
  vertical-align: top;
  padding:        12px 24px;
}

.outlook .headline-content {
  font-size: 1.2em;
}

.outlook-banner {
  width:   100%;
  display: inline-block
}

.footer {
  background-color: black;
  color:            white;
  padding:          12px;
}

.supported-technologies {
  text-align: center;
}

.supported-technologies ul {
  margin: 0 0 10px 0;
  padding-left: 0;
}

.supported-technologies li {
  display: inline-block;
}

.supported-technologies img {
  height: 60px;
}

.supported-technologies figure {
  margin: 0;
  padding: 0 16px;
  opacity: 0.8;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
  transition: opacity 0.2s, filter 0.2s, -webkit-filter 0.2s;
}

.supported-technologies figcaption {
  font-size: 14px;
  color: #ddd;
  opacity: 0;
}

.supported-technologies li:hover figcaption {
  opacity: 0.9999;
}

.supported-technologies li:hover figure {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.nodejs figure,
.rails figure,
.golang figure,
.php figure,
.python figure,
.dockerfile figure {
  animation: fade 0.8s;
}

.nodejs figure {
  animation-delay: 2s;
}

.rails figure {
  animation-delay: 2.2s;
}

.golang figure {
  animation-delay: 2.4s;
}

.php figure {
  animation-delay: 2.6s;
}

.python figure {
  animation-delay: 2.8s;
}

.dockerfile figure {
  animation-delay: 3s;
}

.modal {
  width: 50%;
}

.tutorial__screenshot {
  width: 100%;
}
