/* GLOBAL */
@font-face {
  font-family: "Experimental";
  src:         url(fonts/experimental_regular.woff) format("woff");
}

@font-face {
  font-family: "Experimental";
  src:         url(fonts/experimental_bold.woff) format("woff");
  font-weight: bold;
}

html, input, select {
  font-family: Experimental, sans-serif;
}

html, body {
  min-height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing:     antialiased;
  -moz-osx-font-smoothing:    grayscale;
  margin:                     0;
  color:                      #000;
  line-height:                1.3;
}

a {
  color:           inherit;
  text-decoration: underline;
}

code {
  border:      1px solid black;
  padding:     6px;
  margin:      6px;
  display:     block;
  white-space: pre-wrap;
}

/* GENERAL */
.button-interaction {
  text-decoration: none;
  cursor:          pointer;
}

.input-interaction,
.button-interaction {
  margin:     12px 0;
  padding:    12px;
  border:     1px solid #aaa;
  background: rgba(0,0,0,0);
}

.section-content {
  margin:             4em 12px;
  overflow:           hidden;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

.popup-content {
  display: none;
}

.linked-content {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .section-content {
    width:  900px;
    margin: 4em auto;
  }
}

.headline-content {
  font-size:   42px;
  text-align:  center;
  margin:      0 0 10px;
  font-weight: normal;
  position:    relative;
}

.headline-content:before {
  content:    "";
  top:        52%;
  left:       0;
  right:      0;
  height:     1px;
  position:   absolute;
  background: #ddd;
}

.headline-content span {
  background: #fff;
  padding:    0 20px;
  position:   relative;
}

.hexagon {
  -ms-transform:                 scale(0.75); /* IE9+ doesn't support masks, so we just decrease image size */
  -ms-interpolation-mode:        nearest-neighbor;
  -webkit-mask-box-image-repeat: stretch;
  -webkit-mask-box-image-source: url("img/hexagon.svg");
  mask:                          url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxtYXNrIG1hc2tDb250ZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiBpZD0iaGV4YWdvbiI%2BPHBvbHlnb24gcG9pbnRzPSIwLjEzIDAuNzIsIDAuMTIgMC43MSwgMC4xMiAwLjI5LCAwLjEzIDAuMjgsIDAuNDkgMC4wNywgMC41MSAwLjA3LCAwLjg3IDAuMjgsIDAuODggMC4yOSwgMC44OCAwLjcxLCAwLjg3IDAuNzIsIDAuNTEgMC45MywgMC40OSAwLjkzLCAwLjEzIDAuNzIiIGZpbGw9IiNmZmYiIC8%2BPC9tYXNrPjwvc3ZnPg%3D%3D#hexagon";
$grayscale-mask: "data:          image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9ImdyYXlzY2FsZSI%2BPGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDAiLz48L2ZpbHRlcj48L3N2Zz4%3D#grayscale");
}


/* SPECIFIC */
.button-interaction,
.teaser,
.description,
.credits,
.creators,
.creators__profile,
.outlook,
.platform__device-manager,
.platform__description,
.footer,
.footer__links,
.footer__link,
.access-locally__illustration,
.access__url,
.order-hardware {
  overflow:           hidden;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

.teaser .logo:before {
  content:         "";
  display:         inline-block;
  vertical-align:  middle;
  width:           36px;
  height:          36px;
  margin:          -4px 8px 0 0;
  background:      url(img/hexagon_white.svg) no-repeat center center;
  background-size: 100% auto;
}

.teaser {
  position: relative;
  text-transform:    uppercase;
  text-align:        center;
  font-size:         2em;
  color:             white;
  background-image:  url(img/banner.jpg);
  background-size:   cover;
  background-repeat: no-repeat;
  width:             100%;
}

.teaser__text {
  font-size:   1em;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .teaser {
    padding: 3em;
  }

  .teaser__text {
    font-size: 1.4em;
  }
}

.teaser__animation {
  position:        absolute;
  width:           100%;
  height:          100%;
  background:      url(img/banner-animation.gif) no-repeat center center;
  background-size: 60%;
  z-index:         1;
  top:             0;
  left:            0;
  opacity:         .15;
}

.teaser__content {
  z-index:  2;
  position: relative;
}

.teaser__header {
  font-size:   1em;
  font-weight: normal;
}

.description {
  margin:    24px auto;
  font-size: 1.4em;
  padding:   0 12px;
}

.showcases {
  border:  1px solid #aaa;
  padding: 12px;
}

.showcases__header {
  font-weight: normal;
  text-align:  center;
  font-size:   2em;
}

.showcase {
  border:    1px solid #aaa;
  padding:   24px 12px;
  margin:    6px 0;
  font-size: 1.4em;
  position:  relative;
}

.showcase__note {
  font-size: .7em;
  margin-top: 12px;
}

@media (min-width: 1024px) {
  .watchdog:after {
    background: url(img/watchdog.png) no-repeat right center;
  }

  .office-air-quality-system:after {
    background: url(img/office-air-quality-system.png) no-repeat right center;
  }

  .cooking-timer:after {
    background: url(img/cooking-timer.png) no-repeat right center;
  }
}

.watchdog:after,
.office-air-quality-system:after,
.cooking-timer:after {
  content:         '';
  background-size: 100%;
  display:         inline-block;
  width:           200px;
  height:          50px;
  vertical-align:  middle;
  position:        absolute;
  right:           0;
  top:             12px;
}

.showcase__formula {
  vertical-align:  middle;
}

.notify-me,
.order-hardware,
.setup-platform {
  text-align: center;
  margin:     2em auto;
  font-size:  1.2em;
}

.share-targets {
  list-style-type: none;
  padding:         0;
  text-align:      center;
}

.share-twitter {
  display: block;
  text-align: center;
}

.credits .share-twitter {
  margin: 24px 0;
}

.share__links {
  list-style-type: none;
  padding-left:    0;
  text-align:      center;
}

.share__link {
  display:      inline-block;
  margin-right: 18px;
  position:     relative;
}

.share__link:after {
  content:       "";
  position:      absolute;
  right:         -13px;
  top:           8px;
  width:         5px;
  height:        5px;
  background:    #666;
  border-radius: 10px;
}

.share__link:last-child:after {
  content: none;
}

.share__description,
.technology__description {
  font-size: 1.2em;
}

.technology__diagram {
  width: 100%;
}

.order-hardware .button-interaction {
  display:        block;
  vertical-align: middle;
}

.order-hardware__store {
  display:   block;
  font-size: .7em;
}

@media (min-width: 1024px) {
  .order-hardware .button-interaction {
    width:   28%;
    display: inline-block;
    margin:  3px;
  }
}

.order-hardware__note {
  font-size: .7em;
}

.creators {
  list-style-type: none;
  padding-left:    8px;
}

.creators__profile {
  display:        inline-block;
  width:          32%;
  width:          32%;
  text-align:     center;
  margin-right:   -8px;
  vertical-align: top;
}

.profile__portrait {
  max-width:  200px;
  max-height: 200px;
  display:    inline-block;
  margin:     12px;
}

.profile__portrait img {
  display: inline-block;
  width:   100%;
  height:  100%;
}

/* EXAMPLES */
.examples {
  margin:    0;
  padding:   0;
  display:   flex;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .examples li {
    flex:         1 1 22%;
    margin-right: 20px;
  }
}

.examples li {
  padding-bottom: 12px;
  box-sizing:     border-box;
  display:        block;
  width:          100%;
  border:         1px solid #eee;
  border-radius:  3px;
  margin-bottom:  20px;
}

.examples a {
  text-align:      center;
  text-decoration: none;
  display:         block;
}

.examples h4,
.examples p {
  margin: 0;
  padding: 0 20px;
}

.examples h4 {
  font-size: 16px;
}

.examples p {
  font-size: 12px;
  color: #666;
}

.examples__note {
  text-align: center;
}

.img-example,
.profile__portrait {
  background-color: #eee;
  -webkit-filter:   grayscale(0.7);
  filter:           grayscale(0.7);
  box-shadow:       inset 0 0 50px rgba(0, 0, 0, 0.3);
  transition:       -webkit-filter 0.3s, filter 0.3s, box-shadow 0.3s;
}

.img-example {
  display:             block;
  height:              100px;
  width:               100%;
  background-size:     cover;
  background-position: center center;
}

a:hover .img-example,
a:hover .profile__portrait {
  box-shadow:     inset 0 0 30px rgba(0, 0, 0, 0.2);
  filter:         grayscale(0);
  -webkit-filter: grayscale(0);
}

.img-example-jasper {
  background-image: url(img/microphone2.jpg);
}

.img-example-co2 {
  background-image: url(img/board.jpg);
}

.img-example-chromecast {
  background-image: url(img/chromecast.jpg);
}

.img-example-webcam {
  background-image: url(img/webcam.jpg);
}

.img-example-radio {
  background-image: url(img/remote.jpg);
}

.img-example-speakers {
  background-image: url(img/speaker.jpg);
}

.img-example-live-webcam {
  background-image: url(img/cat.jpg);
}

.img-example-voice-recognition {
  background-image: url(img/microphone.jpg);
}

.img-technology-nodejs {
  background-image: url(img/node.js);
}

.img-technology {
  -webkit-filter:  drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
  filter:          drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
  position:        relative;
  display:         inline-block;
  margin-top:      -20px;
  width:           32px;
  height:          40px;
  background:      url(img/hexagon_white.svg) center center no-repeat;
  background-size: auto 100%;
}

.img-technology:after {
  content:             "";
  position:            absolute;
  right:               0;
  top:                 0;
  left:                0;
  bottom:              0;
  background-repeat:   no-repeat;
  background-position: center center;
}

.img-technology-nodejs:after {
  background-size:  auto 28px;
  background-image: url(img/nodejs.svg);
}

.img-technology-arduino:after {
  background-size:  24px auto;
  background-image: url(img/arduino.png);
}

.img-technology-rails:after {
  background-size:  auto 22px;
  background-image: url(img/rails.svg);
}

.img-technology-ruby:after {
  background-size:  auto 20px;
  background-image: url(img/ruby.svg);
}

.img-technology-php:after {
  background-size:  auto 26px;
  background-image: url(img/php.svg);
}

.img-technology-python:after {
  background-size:  auto 24px;
  background-image: url(img/python.svg);
}

.img-technology-docker:after {
  background-size:  26px auto;
  background-image: url(img/docker.svg);
}

.outlook-features {
  list-style-type: none;
  padding:         0;
}

@media (min-width: 1024px) {
  .outlook {
    width:          50%;
    display:        inline-block;
    margin-right:   -8px;
    vertical-align: top;
    padding:        12px 24px;
  }
}

.outlook .headline-content {
  font-size: 1.4em;
}

.outlook-banner {
  width:   100%;
  display: inline-block
}

.footer {
  background-color: black;
  color:            white;
  padding:          12px;
}

.supported-technologies {
  text-align: center;
}

.supported-technologies ul {
  margin: 0 0 10px 0;
  padding-left: 0;
}

.supported-technologies li {
  display: inline-block;
}

.supported-technologies img {
  height: 60px;
}

.supported-technologies .supported-technologies__illustration {
  margin:         0;
  padding:        0 16px;
  opacity:        0.8;
  -webkit-filter: grayscale(0.7);
  filter:         grayscale(0.7);
  transition:     opacity 0.2s, filter 0.2s, -webkit-filter 0.2s;
}

.supported-technologies .supported-technologies__caption {
  font-size: 14px;
  color:     #000;
  opacity:   0;
}

.supported-technologies li:hover .supported-technologies__caption {
  opacity: 1;
}

.supported-technologies li:hover .supported-technologies__illustration {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.nodejs .supported-technologies__illustration,
.rails .supported-technologies__illustration,
.golang .supported-technologies__illustration,
.php .supported-technologies__illustration,
.python .supported-technologies__illustration,
.dockerfile .supported-technologies__illustration {
  animation: fade 0.8s;
}

.nodejs .supported-technologies__illustration {
  animation-delay: 2s;
}

.rails .supported-technologies__illustration {
  animation-delay: 2.2s;
}

.golang .supported-technologies__illustration {
  animation-delay: 2.4s;
}

.php .supported-technologies__illustration {
  animation-delay: 2.6s;
}

.python .supported-technologies__illustration {
  animation-delay: 2.8s;
}

.dockerfile .supported-technologies__illustration {
  animation-delay: 3s;
}

.modal {
  width: 80%;
}

@media (min-width: 1024px) {
  .modal {
    width: 50%;
  }
}

.order-hardware__illustration,
.tutorial__screenshot {
  width: 100%;
}

.tutorial__banner {
  margin: 0;
}

.access-locally__illustration,
.access-globally__illustration {
  display:        inline-block;
  width:          100px;
  height:         50px;
  vertical-align: middle;
  margin-right:   -10px;
  width:          20%;
}

.access-locally__illustration {
  background:      url(img/hexagon-.png) no-repeat right center;
  background-size: 50%;
}

.access-globally__illustration {
  background:      url(img/hexagon-cloud-.png) no-repeat right center;
  background-size: 80%;
}

.access__url {
  width:          75%;
  vertical-align: middle;
  display:        inline-block;
}

.credits__protonet {
  display:        inline-block;
  background:     url(img/protonet_orange.png) left center no-repeat;
  width:          140px;
  height:         40px;
  padding:        0;
  margin-bottom:  6px;
  vertical-align: middle;
}

.github-banner {
  z-index:  204;
  position: absolute;
  top:      0;
  right:    0;
  width:    149px;
  height:   149px;
}

@media (min-width: 1024px) {
  .github-banner {
    position: fixed;
  }
}

.footer {
  text-transform: uppercase;
}

.footer-container {
  margin:        12px auto;
  padding:       12px 0;
}

.footer__logo-container {
  border-bottom:  1px solid white;
  padding-bottom: 12px;
  margin-bottom:  24px;
}

.footer__logo-link {
  display:        inline-block;
  background:     url(img/protonet-logo.png) left center no-repeat;
  width:          140px;
  height:         40px;
  padding:        0;
  margin-bottom:  6px;
  vertical-align: middle;
}

.footer__newsletter .button-interaction,
.footer__newsletter,
.footer__newsletter .input-interaction {
  color:          white;
  text-transform: uppercase;
}
.footer__newsletter .input-interaction::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}
.footer__newsletter .input-interaction:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}
.footer__newsletter .input-interaction::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}
.footer__newsletter .input-interaction:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}

.newsletter-label {
  padding-right:  12px;
  font-size:      1.4em;
  vertical-align: middle;
}

.newsletter-form {
  text-align: center;
}

@media (min-width: 1024px) {
  .newsletter__signup {
    display: inline;
  }

  .footer__share {
    display: inline-block;
    float:   right;
  }
}

.footer__share {
  padding-left: 0;
}

.footer__links {
  list-style-type: none;
  padding-left:    0;
  color:           #ddd;
  vertical-align: middle;
}

.footer__newsletter form {
  display: inline-block;
}

.footer__link {
  display:        inline-block;
  padding-right:  12px;
  vertical-align: middle;
}

.footer__links .footer__link {
  width: 32%;
}

.footer__link a {
  display:         inline-block;
  width:           100%;
  height:          100%;
  text-decoration: none;
}

.experimental-platform {
  margin: 12px 0;
}

.platform__device-manager,
.platform__description {
  display:        inline-block;
  width:          50%;
  margin-right:   -8px;
  vertical-align: top;
}

.platform__description {
  font-size: 1.4em;
}

.twitter-follow-button:before {
  content:    '';
  display:    inline-block;
  background-color: #4099FF;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: url(img/twitter.png) no-repeat center center;
  padding-right: 10px;
  margin-bottom: 4px;
}

.twitter-follow-button {
  text-align: center;
  display:               inline-block;
  background-color:      #4099FF;
  color:                 white;
  padding:               8px;
  text-decoration:       none;
  height:                32px;
  vertical-align:        middle;
  font-size:             1.2em;
  border:                1px solid #4099FF;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  -ms-border-radius:     4px;
  border-radius:         4px;
}

